
{% extends "template.html" %}


{% block head %}
<link rel="stylesheet" href="/static/bubble.css">
<script type="text/javascript" 
	src="https://maps.googleapis.com/maps/api/js?sensor=false"> </script>
<script src="http://d3js.org/d3.v3.min.js"></script>  
<script src="/static/bubble.js"></script>

<script type="text/javascript" src="{{url_for('static', filename='mapping.js') }}" ></script>

{% endblock %}



{% block main %}

<div id="middle_container" class="row-fluid page" style="margin-top: 25px;">

  <div id="instructions" class="span6 offset1 row-fluid page" style="text-align: center;">

    <div id="waiting" class="span2 offset2" style="text-align: center; margin-top: 5px;">
      <img id="waiting_gif" src="/static/images/loading_gif.gif" style="height: 50px; margin-top: 5px;">
    </div>
    <div id="search_container" class="span4" style="text-align: center; margin-top: 5px;">
      <div id="instruction_content">
	Enter an address or click on the map to begin: 
      </div>
      <form id="address_searchbar_form" class="navbar-search pull-left">
	<input id="address_searchbar" type="text" class="search-query" 
	       placeholder="Beginning Address">
      </form>
    </div>
  </div>
    <!--
    <div id="reset_button_container" class="centered" style="margin-top: 10px;">
      <a id="button_reset" class="btn btn-mini">Reset</a>
    </div>
-->

  
  <div id="starting_point_container" class="row-fluid span5" 
       style="height: 40px; margin-top: 10px; padding-top: 5px; padding-bottom: 5px;">
    <div class="venue_row_element row-fluid span10 well" id="row_initial" >
      <div class="span2"><img id="starting_point_img" src=""></div>
      <div class="span4"><p><strong>Starting Point:</strong></p></div>
      <div class="span6"><p id="initial_address"></p></div>
    </div>
    <!--<div id="starting_point"  class="span10 centered" style="margin: 0px;" ></div>-->
  </div>



</div>

<!-- Map Section -->
<div id="middle_container" class="row-fluid page" style="margin-top: 25px;">

  <div id="map_container" class="span6 offset1 row-fluid">
    <div id="map_canvas" style="width:500px; height:500px; border: 3px solid black;"></div>
    
    <div id="buttons" class="centered" style="margin-top: 10px;">
      <a id="button_initial" class="btn btn-large btn-success">Get First Bar</a>
      <a id="button_accept" class="btn btn-large btn-success">Get Next</a>
      <a id="button_try_another" class="btn btn-large btn-danger">Try Another</a>
    </div>

    <div class="accordion" id="accordion2" style="margin-top: 20px;" hidden>
      <div class="accordion-group">
	<div class="accordion-heading">
	  <a class="accordion-toggle" style="text-align: center" 
	     data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	    Theme
	  </a>
	</div>
	<div id="collapseOne" class="accordion-body collapse">
	  <div class="accordion-inner">
	    <div id="vis" class="span12"></div>
	  </div>
	</div>
      </div>
    </div>

  </div>

  <div id="right_column" class="row-fluid span5">
    <div id="venue_title" class="well span10 centered lead" style="height: 32px; padding: 1px;" >Venues</div>
    <div id="venue_list"  class="span10 centered" style="margin: 0px;" ></div>
  </div>
</div>

<!--<hr>-->

<!--<div class="span12"></div>-->


{% endblock %}
