<!DOCTYPE html>

<html>
  <head>

    <title>Barkov Chain </title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta property="og:title" content="Barkov Chain" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.barkovchain.com" />
    <meta property="og:url" content="http://www.barkovchain.com" />
    <meta name="keywords" content="Restaurants Bars Coffee Markov Chain" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--    <script src="/static/deck/jquery-1.7.2.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    {% block head %}
    {% endblock %}

    <!-- Style / css -->
    <link rel="stylesheet" href="/static/style.css" type="text/css"  />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" >
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css" >

    <link rel="stylesheet" href="/static/deck/css/home.css">

    <!-- Core and extension CSS files -->
    <!--
	<link rel="stylesheet" href="/static/deck/core/deck.core.css">
	<link rel="stylesheet" href="/static/deck/css/common.css">
	-->
    <!--    <link rel="stylesheet" href="/static/deck/css/home.css">-->


    <!-- Javascript -->


    <!-- Theme CSS files -->
    <!--
	<link rel="stylesheet" href="/static/deck/themes/style/swiss.css">
	<link rel="stylesheet" href="/static/deck/themes/transition/fade.css">
	-->

  </head>

  <body style="height: 700px;">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  
	  <a class="brand" href="/"><b>Bar</b>kov Chain</a>
	  <!--<div class="brand">Planning your night made easy</div>-->
	  <div class="nav-collapse collapse">
	    <ul class="nav">
	      <li><a href="/">Home</a></li>
	      <li><a href="/slides">Slides</a></li>
	      <li><a href="/slides#AboutMe">Contact</a></li>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div>
      </div>
    </div>


    {% block main %}
    {% endblock %}
    
    <div class="footer">
      <p style="padding-left: 10px;" >&copy; George H. Lewis, 2013</p>
    </div>

  </body>

</html>
